html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#grid {
  flex: 1;
}

#poster-pop {
  display: none;
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  border-radius: 4px;
  z-index: 100;
  background-color: #fff;
}

.poster-anchor {
  display: inline-block;
}

.poster-anchor > i {
  width: 1rem;
}
